@import url("https://fonts.googleapis.com/css?family=Abel:500");
/*.room-background {
    background: url(http://i.imgur.com/uYMmCLL.png) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}*/
#user-lists .list.staff .group {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%) !important;
}
#footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom, #FF5CDE 0, #5700FF 100%);
}
#app-header {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0, rgba(0, 0, 0, 0.75) 100%);
}
#store-button {
    background: linear-gradient(to bottom, #FF0000 0, #A00000 100%);
}
#plug-dj {
    background: linear-gradient(to bottom, #0268AC 0, #02225C 100%);
}
.header-panel-button.selected {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0, rgba(255, 255, 255, 0.06) 100%);
}
#plug-menu {
    background: rgba(40, 44, 53, 0.94) !important;
}
#plug-menu .legal {
    background: rgba(68, 74, 89, 0.46) !important;
}
#settings {
    background: rgba(10, 10, 10, 0.89) !important;
}
#user-lists .list .user:hover {
    background: linear-gradient(to right, rgba(255, 118, 118, 0) 0, rgba(255, 0, 194, 0.27) 100%) !important;
}
#waitlist .list .user {
    background: linear-gradient(to right, rgba(255, 118, 118, 0) 0, rgba(255, 0, 194, 0.13) 100%) !important;
}
.app-right .friends {
    background: none !important;
}
#settings .header {
    background: rgba(28, 31, 37, 0.78) !important;
}
@media (max-width: 1600px) {
    #room .app-right {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.70) 0, rgba(0, 0, 0, 1) 100%);
    }
}
#chat .message:nth-child(2n+1),
#chat .mention:nth-child(2n+1),
#chat .skip:nth-child(2n+1),
#chat .moderation:nth-child(2n+1),
#chat .emote:nth-child(2n+1),
#chat .update:nth-child(2n+1),
#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17, 19, 23, 0.32);
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}
#chat .emote,
#chat .mention,
#chat .message,
#chat .moderation,
#chat .skip,
#chat .system,
#chat .update,
#chat .welcome {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}
#chat .mention {
    font-weight: 700;
    /*padding-left: 25px;*/
    border-left: #7681FF 3px solid;
}
#chat .emote .from {
    color: #ac76ff !important;
}
#chat .emote {
    border-left: rgba(174, 69, 189, 1) 3px solid !important;
    background-color: rgba(76, 93, 119, 0.22) !important;
}
#chat-messages .emote .icon {
    /*left: 4px;*/
}
#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: #ac76ff;
}
#room-host,
#room-name {
    left: 75px;
}
#room-bar .icon-room {
    top: 8px;
    left: 10px;
}
i.icon.icon-room {
    width: 65px;
    height: 50px;
}
.icon-room {
    background: url(http://i.imgur.com/PGimUuj.png) no-repeat;
    width: 0px;
    height: 0px;
    background-size: 100%;
    margin-left: -5px;
    margin-top: 5px;
}
.app-header {
    background: rgba(28, 31, 37, 0.59);
}
#footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom, #FF5CDE 0, #5700FF 100%);
}
.social-menu .icon-twitter,
.social-menu .icon-facebook {
    opacity: 1;
}
#playlist-panel {
    background: rgba(17, 19, 23, 0.9);
}
#playlist-menu {
    background: rgba(28, 31, 37, 0.67);
}
#search {
    background: rgba(50, 55, 66, 0.58);
}
#search-bar {
    background: rgba(17, 19, 23, 0.77);
}
#filter-bar {
    background: rgba(17, 19, 23, 0.77);
}
#playlist-edit-button {
    background: rgba(85, 93, 112, 0.75);
}
#playlist-shuffle-button {
    background: rgba(68, 74, 89, 0.75);
}
#playlist-delete-button {
    background: rgba(50, 55, 66, 0.75);
}
#user-panel .score {
    background: rgba(28, 31, 37, 0.59);
}
#dj-button.is-locked .left,
#dj-button.is-full .left,
#vote .crowd-response.disabled .bottom {
    background: #222224;
}
#dj-button.is-quit .left,
#dj-button.is-leave .left,
#dj-button.is-wait .left,
#dj-button.is-locked .left,
#dj-button.is-full .left {
    background: #121214;
    border-radius: 8px;
    /*border-left-width: 4px;*/
}
/*#dj-button.is-quit .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-leave .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-wait .left {
border-left: 3px solid #00b5e6;
}
#dj-button.is-locked .left {
border-left: 3px solid #734ba9;
}
#dj-button.is-full .left {
border-left: 3px solid #CCCCCC;
}*/
#dj-button {
    background: #222224;
    border-radius: 8px;
}
#vote .crowd-response {
    background: #222224;
}
#woot .bottom,
#woot.selected {
    background: #90ad2f;
}
#grab .bottom,
#grab.selected {
    background: #aa74ff;
}
#meh .bottom,
#meh.selected {
    background: #c42e3b;
}
.row:hover {
    background: linear-gradient(to right, rgba(255, 118, 118, 0) 0, rgba(41, 48, 124, 0.27) 100%) !important;
}
#chat .mention .msg {
    background: linear-gradient(to right, rgba(255, 118, 118, 0) 0, rgba(41, 48, 124, 0.27) 100%);
}
#user-lists .list.room .user .icon-meh {
    top: -1px !important;
    right: 8px !important;
    left: auto !important;
}
#user-lists .list.room .user .icon-grab {
    right: 35px;
}
/* Chat Fade */
#chat .emote,
#chat .mention,
#chat .message,
#chat .moderation,
#chat .skip,
#chat .system,
#chat .update,
#chat .welcome {
    -webkit-animation: fadein 0.35s;
    -moz-animation: fadein 0.35s;
    -ms-animation: fadein 0.35s;
    -o-animation: fadein 0.35s;
    animation: fadein 0.35s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    ;
    to {
        opacity: 1;
    }
    ;
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    ;
    to {
        opacity: 1;
    }
    ;
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    ;
    to {
        opacity: 1;
    }
    ;
}
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    ;
    to {
        opacity: 1;
    }
    ;
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    ;
    to {
        opacity: 1;
    }
    ;
}
#user-lists .list {
    -webkit-animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -ms-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
    animation: fadein 0.3s;
}
#waitlist .list {
    -webkit-animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -ms-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
    animation: fadein 0.3s;
}
#volume .slider {
    display: block !important;
    top: 26px !important;
    right: -62px !important;
}
#volume .slider {
    background-color: rgba(28, 31, 37, 0.10) !important;
    box-shadow: 0px -19px 0px 6px rgba(28, 31, 37, 0.10), 0px 18px 0px 6px rgba(28, 31, 37, 0.10) !important;
}
.elapsing {
    opacity: 0.0 !important;
    transition: opacity 1.0s !important;
}
#now-playing-bar > :not(#history-button):not(#rs-skip-button) i,
.dark-label {
    display: none !important;
}
#now-playing-time i {
    display: none !important;
}
.experience .xp .bar .progress {
    background: linear-gradient(hsl(40, 61%, 54%), hsl(40, 59%, 31%));
}
#footer-user .info .bar .progress {
    background: rgba(197, 152, 64, 1);
}
/* -------------------------- CHAT ---------------------------------- */
#chat .emote .text {
    font-family: 'Abel', sans-serif;
}
#chat-messages .text {
    font-family: 'Abel', sans-serif;
    font-size: 13px;
    line-height: 20px;
}
#chat .from {
    position: relative;
    margin-bottom: 3px;
    font-size: 13px;
    font-family: 'Abel', sans-serif;
}
#chat-input-field {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 305px;
    height: 18px;
    !important outline: 0;
    border: 0;
    background: 0 0;
    color: #eee;
    font-family: 'Abel', sans-serif;
    font-size: 13px;
}
/* ------------------------------------------------------------------ */
/* Menu list */
#user-lists .list.bans .user:hover {
    background: linear-gradient(to right, rgba(255, 118, 118, 0) 0, rgba(255, 0, 0, 0.27) 100%) !important;
}
#user-lists .list.mutes .user:hover {
    background: linear-gradient(to right, rgba(255, 118, 118, 0) 0, rgba(255, 72, 0, 0.27) 100%) !important;
}
#user-lists .list.ignored .user:hover {
    background: linear-gradient(to right, rgba(255, 118, 118, 0) 0, rgba(255, 191, 0, 0.27) 100%) !important;
}
#chat-suggestion {
    background: rgba(2, 1, 1, 0.9);
}
.rcs-small-delete {
    background: linear-gradient(hsl(40, 66%, 20%), hsl(40, 67%, 7%)) !important;
    border-radius: 8px;
}
.rcs-small-delete:hover {
    background: linear-gradient(hsl(0, 77%, 30%), hsl(0, 80%, 19%)) !important;
    border-radius: 8px;
}
.radiantimg-small-delete {
    background: linear-gradient(hsl(266, 80%, 22%), hsl(269, 81%, 13%)) !important;
    border-radius: 8px;
}